# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
caddy

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local env files
*.env
!*example.env

# Other files
**/*.log
**/.DS_Store
*-packr.go
*.aes
*.pid
.console_history
.grifter/
.idea/
.jhw-cache/
.vendor/
.vscode/

bin/
jhw.*
tmp/
go-build/

dockercfg
