{
	order dynamic_proxy first
}

:80 {
	encode zstd gzip

	respond /test 200 {
		body {vars.upstream}
		close
	}

	dynamic_proxy {
		management_api {$MANAGEMENT_API}
	}

	reverse_proxy * {vars.upstream}
}
